{
  "parser": "@babel/eslint-parser",
  "ignorePatterns": ["node_modules/", "dist/"],
  "env": {
    "browser": true,
    "es6": true,
    "node" : true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "requireConfigFile": false
  },
  "rules": {
    "semi": "error"
  }
}
